<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">    |
    {{comments.length}} {{format_plural "comment" comments.length}}
  </div>
</article>