<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech It Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Just Tech It Blog</h1>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        {{else}}
        <a href="/login">Dashboard</a>
        {{/if}}
      </li>
      <li>
        {{#if loggedIn}}
        <a href="/logout">logout</a>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </li>
    </ul>
  </header>

  <main>
    {{{ body }}}
  </main>
</body>

</html>