<h1 id="logout-notice">
    Are you sure you wish to logout? Click below to confirm.
</h1>
<div>
    <button id="logout" class="btn-no-style">logout</button>
</div>


<script src="/javascript/logout.js"></script>